<!DOCTYPE html>
<html>
<head>
  <style></style>
</head>
  <body link="#22247A" vlink="#22247A" alink="#22247A>
    <table class=" main contenttable" align="center"
    style="font-weight: normal; border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
    <tr>
      <td class="border"
        style="border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
        <table
          style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
          <tr>
            <td colspan="4" valign="top"
              class="image-section"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff;border-bottom: 4px solid #44478e">
              <a href="https://codeuino.org">
                <img class="top-image"
                  src="http://codeuino.org/static/media/newlogo.33c918eb.png"
                  style="line-height: 1;width: 150px; padding:10px"
                  alt="Codeuino org image">
              </a>
            </td>
          </tr>
          <tr>
            <td valign="top" class="side title"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
              <table
                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                <tr>
                  <td class="head-title"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 28px;line-height: 34px;font-weight: bold; text-align: center;">
                    <div class="mktEditable"
                      id="main_title">
                      Welcome to Donut
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="sub-title"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;padding-top:5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 18px;line-height: 29px;font-weight: bold;text-align: center;">
                </tr>
                <tr>
                  <td class="top-padding"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                  </td>
                </tr>
                <tr>
                  <td class="grey-block"
                    style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                    <div class="mktEditable" id="cta">
                      <img class="top-image"
                        src="https://i.imgur.com/6bAOR4M.png"
                        width="300" /><br><br>
                    </div>
                  </td>
                </tr>
                <tr>
                  <hr size="1" color="#22247A">
            </td>
          </tr>
          <tr>
            <td class="text"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
              <div class="mktEditable" id="main_text">
                <br>
                <br>
                Your registration is successful! We warmly
                welcome you to the donut platform!
                <br>
                <br>
                Donut is an open-source, feature-rich,
                highly flexible and privacy-friendly, social
                networking platform built for
                community-oriented collaboration in a
                customized way. It has been built on the
                Node.js framework allowing an essential
                impetus to provide custom and friendly rich
                widgets and an expansive library of modules
                to make communication and collaboration easy
                and successful. With a powerful module
                system, you can customize this platform by
                using third party tools, writing your own or
                integrating other software.
                <br />
                <p>Please use the given below link if the button does not work properly.</p>
                <p>http://localhost:5000/user/activate/<%= token %></p>
                <center>
                  <a href="' + http://localhost:5000/user/activate/ + <%= token %> + '"
                    style="background-color: #aad1f2;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px; color: black">
                    Activate account
                  </a>
                </center>
                <br />
                  Hope you enjoy your stay at Donut!
                <br />
              </div>
            </td>
          </tr>
          <tr>
            <td
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td class="text"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">
              <div class="mktEditable" id="download_button"
                style="text-align: center;"></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td
        style="padding:20px; font-family: Arial, sans-serif; -webkit-text-size-adjust: none;"
        align="center">
        <table>
          <tr>
            <td align="center"
              style="font-family: Arial, sans-serif; -webkit-text-size-adjust: none; font-size: 16px;">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr bgcolor="#fff"
      style="border-top: 4px solid #44478e;">
      <td valign="top" class="footer"
        style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background: #fff;text-align: center;">
        <table
          style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
          <tr>
            <td class="inside-footer" align="center"
              valign="middle"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 12px;line-height: 16px;vertical-align: middle;text-align: center;width: 580px;">
            </td>
          </tr>
        </table>
      </td>
      </trbgcolor=>
      </table>
      </td>
    </tr>
    </table>
  </body>
</html>
