module.exports = {
  apps: [
    {
      name: 'Donut',
      script: './bin/www',
      watch: true,
      env: {
        PORT: 5000,
        NODE_ENV: 'development',
        JWT_SECRET: 'thisismysupersecrettokenjustkidding',
        DATABASE_URL: 'mongodb://localhost:27017/donut-development',
        SENDGRID_API_KEY:'{{SENDGRID_API_KEY}}',
        SOCKET_PORT: 8810,
        clientbaseurl: 'http://{{ansible_default_ipv4.address}}:80',
        REDIS_HOST: 'redis',
        REDIS_PORT: 6379,
        REDIS_PASSWORD: 'auth',
        REDIS_DB: 0,
        REDIS_ACTIVITY_DB: 1
      }
    }
  ]
}
