{
    "name": "{{ organization_name }}",
    "description": {
        "shortDescription": "{{ organization_shortDescription }}",
        "longDescription": "{{ organization_longDescription }}"
    },
    "contactInfo": {
        "email": "{{ organization_email }}",
        "website": "{{ organization_website }}"
    }
}
